@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/sizes.scss';

.options-dropdown-default {
  background-color: $options-color;
}

.home {
  position: absolute;
  top: $nav-bar-height;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.language {
  position: absolute;
  top: $nav-bar-height;
  right: $nav-bar-about-width;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-language {
  height: $options-dropdown-option-height;
  width: $options-dropdown-language-width;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: $options-dropdown-padding;

  color: $text-black;

  &:hover {
    background-color: $nav-bar-color;
    font-weight: $options-dropdown-font-weight-hover;
  }
}
