// background
$background-color: #F2F0EF;
$nav-bar-color: #C9C8C7;
$options-color: #DCDCDC;

// profiles
$profile-alice-color: #EB5C76;
$profile-ketlen-color: #1978B3;
$profile-walfredo-color: #145238;

// text
$text-black: #1E1E1E;
$text-white: #F2F0EF;
