// nav-bar
$nav-bar-width: 100vw;
$nav-bar-height: 8vh;
$nav-bar-padding: 3vh;
$nav-bar-div-width: 10vh;
$nav-bar-div-logo-width: 12vh;
$nav-bar-div-profile-width: 2vh;
$nav-bar-logo-font-size: 3vh;
$nav-bar-font-size: 2vh;

// home-page
$home-page-title-font-size: 15vh;
$home-page-subtitle-font-size: 3.5vh;
$home-page-margin-top: 10vh;
$home-page-subtitle-width: 30vw;
$home-page-profile-width: 100vw / 3;
$home-page-profile-height: 40vh;



