// nav-bar
$nav-bar-width: 100vw;
$nav-bar-height: 8vh;
$nav-bar-padding: 2vw;
$nav-bar-div-width: 10vh;
$nav-bar-div-logo-width: 12vh;
$nav-bar-div-profile-width: 2vh;
$nav-bar-logo-font-size: 2.5vh;
$nav-bar-font-size: 2vh;


