@use 'sass:math';

// nav-bar
$nav-bar-width: 100vw;
$nav-bar-height: 8vh;
$nav-bar-padding: 3vh;
$nav-bar-about-width: 14vh;
$nav-bar-language-width: 18vh;
$nav-bar-logo-width: 18vh;
$nav-bar-profile-width: 2vh;
$nav-bar-logo-font-size: 3vh;
$nav-bar-font-size: 2vh;
$nav-bar-font-weight-hover: 600;

// home-page
$home-page-title-font-size: 15vh;
$home-page-subtitle-font-size: 3.5vh;
$home-page-margin-top: 9vh;
$home-page-subtitle-width: 50vw;

// home-profile
$home-profile-width: math.div(100vw, 3);
$home-profile-height: 30vh;
$home-profile-height-hover: 45vh;



