@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizes.scss';

.nav-bar-alternative {
  width: $nav-bar-width;
  height: $nav-bar-height;
  background-color: $background-color;

  display: flex;
  align-items: center;

  .right-nav-bar {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;

    padding-right: $nav-bar-padding;

    .language {
      width: $nav-bar-div-width;
      height: $nav-bar-height;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $nav-bar-font-size;
      color: $text-black;
    }

    .about {
      width: $nav-bar-div-width;
      height: $nav-bar-height;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $nav-bar-font-size;
      color: $text-black;
    }
  }
}

