@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';

.profile-default {
  width: $home-profile-width;
  height: $home-profile-height;

  &:hover {
    height: $home-profile-height-hover;
    cursor: pointer;
  }
}

.alice {
  background-color: $profile-alice-color;
}

.ketlen {
  background-color: $profile-ketlen-color;
}

.walfredo {
  background-color: $profile-walfredo-color;
}
