@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';

.profile-alice {
  position: relative;

  width: $home-profile-width;
  height: $home-profile-height;

  background-color: $profile-alice-color;

  &:hover {
    height: $home-profile-height-hover;
  }
}

.profile-ketlen {
  width: $home-profile-width;
  height: $home-profile-height;

  background-color: $profile-ketlen-color;

  &:hover {
    height: $home-profile-height-hover;
  }
}

.profile-walfredo {
  width: $home-profile-width;
  height: $home-profile-height;

  background-color: $profile-walfredo-color;

  &:hover {
    height: $home-profile-height-hover;
  }
}
