@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizes.scss';

.title-subtitle {
  margin-top: $home-page-margin-top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: $home-page-title-font-size;
  color: $text-black;
  text-align: center;
}

.subtitle {
  width: $home-page-subtitle-width;
  font-size: $home-page-subtitle-font-size;
  color: $text-black;
  text-align: center;
  align-content: center;
}

.profiles {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
