<div [class]="navBarType">
  <div
    class="left-nav-bar"
    *ngIf="navBarAlternative == false">
    <div class="profiles">
      <app-nav-bar-logo
        *ngFor="let profile of profiles"
        [profile]="profile">
      </app-nav-bar-logo>
    </div>
    <div
      class="title poppins-bold"
      [translate]="'app.name' | translate">
    </div>
  </div>
  <div class="right-nav-bar">
    <div
      class="language poppins-light"
      [translate]="'app.navBar.language' | translate">
  </div>
    <div
      class="about poppins-light"
      [translate]="'app.navBar.about' | translate">
    </div>
  </div>
</div>
