<div [class]="navBarType">
  <div
    class="left-nav-bar"
    *ngIf="!navBarType">
    *ngIf="!navBarType">
    <div class="profiles">
      <app-nav-bar-logo
        *ngFor="let profile of profiles"
        [profile]="profile">
      </app-nav-bar-logo>
    </div>
    <div
      class="title poppins-bold"
      [translate]="'app.name' | translate">
    </div>
  </div>
  <div class="right-nav-bar">
    <div
      [class]="languageClass"
      [translate]="'app.navBar.language' | translate"
      (click)="onClickLanguage()">
    </div>
    <app-options-dropdown
      *ngIf="languageDropdown"
      [type]="'language'"
      (languageOptionEvent)="onClickLanguageOption($event)">
    </app-options-dropdown>
    <div
      class="about poppins-light"
      [translate]="'app.navBar.about' | translate">
    </div>
  </div>
</div>
