@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';

.nav-bar-main {
  width: $nav-bar-width;
  height: $nav-bar-height;
  background-color: $nav-bar-color;

  display: flex;
  align-items: center;
}

.nav-bar-alternative {
  width: $nav-bar-width;
  height: $nav-bar-height;
  background-color: $background-color;

  display: flex;
  align-items: center;
}

.left-nav-bar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  width: $nav-bar-logo-width;
  height: $nav-bar-height;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: $nav-bar-padding;

  font-size: $nav-bar-logo-font-size;
  color: $text-black;

  &:hover {
    background-color: $options-bar-color;
  }
}

.right-nav-bar {
  position: fixed;
  right: 0%;
  display: flex;
  flex-direction: row;
  align-items: right;
}

.language {
  width: $nav-bar-language-width;
  height: $nav-bar-height;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $nav-bar-font-size;
  color: $text-black;

  &:hover {
    background-color: $options-bar-color;
    font-weight: $nav-bar-font-weight-hover;
  }
}

.about {
  width: $nav-bar-about-width;
  height: $nav-bar-height;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $nav-bar-font-size;
  color: $text-black;

  &:hover {
    background-color: $options-bar-color;
    font-weight: $nav-bar-font-weight-hover;
  }
}
